name: Publish Extension

on:
    workflow_dispatch:
        # Manual trigger for publishing extension
    release:
        types: [published]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install
            - run: npm install -g webpack-cli @vscode/vsce
            - name: Publish Extension
              run: ./.github/publish.sh
              env:
                  VSCE_PAT: ${{ secrets.VSCE_PAT }}
